.header__lang-link {
    margin: 0;
    padding: 0;
    flex-direction: row;
    text-decoration: underline;
    list-style: none;
    list-style: none;
    text-decoration:none;
    color: white;

}
