.page {
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 400;
    color: #fff;
    background-color: #2a2c2f;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
