.cover__overlay {
    margin: 92px 48px 92px 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 740px;
    max-width: 1184px;
    color: #fff;
    text-decoration: none;
    background-image: url(../../../images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cover__overlay::before {
    content: '';
    position: absolute;
    background-color: #2a2c2f;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .3;
    transition: opacity .5s linear;


}

.cover__overlay:hover::before {
    opacity: .8;

}
