.footer {
  box-sizing: border-box;
  margin: 0 0 24px;
  padding: 0 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
}

@media screen and (max-width: 896px) {
  .footer {
    padding: 0 24px;
  }
}
@media screen and (max-width: 730px) {
  .footer {
    padding: 0 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
