.place__website {
  box-sizing: border-box;
  max-width: 456px;
  align-self: flex-end;
}

@media screen and (max-width: 896px) {
  .place__website {
    max-width: 352px;
  }
}
@media screen and (max-width: 544px) {
  .place__website {
    padding: 0 16px;
  }
}
